AddDefaultCharset UTF-8
php_value default_charset "UTF-8"

# Mod_Autoindex
<IfModule mod_autoindex.c>
  # Denies viewing the contents of folders
  Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  # Enable mod_rewrite
  RewriteEngine On

  # redirect to seo
  RewriteCond %{HTTP_HOST} ^www.your-site.ru
  RewriteRule (.*) http://your-site.ru/$1 [R=301,L]

  # Xác thực với server là folder và file là có thực
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # В Otherwise redirect to index.php
  RewriteRule . index.php
</IfModule>